.recipes {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    grid-template-rows: repeat(8, 125px);
    list-style-type: none;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
  }

.recipes > a {
    font-size: xx-large;
    font-weight: bold;
    justify-self: stretch;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
    color: rgba(255,255,255,0.7);
    border-radius: 10px;
    padding-left: 1em;
    padding-right: 1em;
    text-align: center;
}

.recipes > a:nth-child(3n+1) {
    background: hsl(309, 31%, 52%);
}

.recipes > a:nth-child(3n+2) {
    background: hsl(247, 53%, 63%);
}

.recipes > a:nth-child(3n+3) {
    background: hsl(220, 100%, 62%);
}